@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-align: center;
  background-color: #02323A;
  color: #D9B29C;
  /* background-image: url("https://wallpaper.dog/large/979139.jpg"); */
  
}

/* .app {
background-image: url("https://wallpaper.dog/large/979139.jpg");
} */



.bar {
  text-align: center;
  margin: 1rem;
  background-color: #012025;
  border-radius: 10px;
}

.button {
  border: none;
  padding: 0.5rem;
  margin: 1rem;
  background-color: #A66249;
  color: #D9B29C;
  border-radius: 4px;
}
.nav-button {
  width: 7rem;
  height: 3rem;
  border: none;
  padding: 0.5rem;
  margin: 1rem;
  background-color: #A66249;
  color: #D9B29C;
  border-radius: 4px;
}

.sequencer-window {
  text-align: center;
  margin: auto;
  display: block;
  width: 70%;
}

.pad {
  margin: 5em;
  text-align: center;
  display: inline-block;
}

.pad-button {
  display: inline-block;
  border-radius: 4px;
  border: none;
  width: 150px;
  padding: 1em;
  text-align: center;
  margin: 0.5rem;
  background-color: #A66249;
  color: #D9B29C;
}

.pad-button:active {
  background-color: #7F7601;
}

.sequence-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 50vw;
}

.grid-window {
  background-color: #012025;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.cell {
  background-color:  #D9B29C;
  height: 25px;
  width: auto;
  margin: 5px;
  border-radius: 4px;
}

.cell-time {
  background-color: #A66249;
  height: 25px;
  width: auto;
  margin: 5px;
  border-radius: 4px;
}

.cell-active {
  background-color: #7F7601;
  height: 25px;
  width: auto;
  margin: 5px;
  border-radius: 4px;
}

.cell-triggered {
  background-color: dark green;
  height: 25px;
  width: auto;
  margin: 5px;
  border-radius: 4px;
}

.error {
  color: red;
}

.toolbar {
  display: inline-block;
}

.toolbar-top {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

.play-div {
  display: inline-block;
  margin: auto;
}

.play-button {
  border: none;
  width: 150px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 1rem;
  background-color: #A66249;
  color: #D9B29C;
  border-radius: 4px;
}

.bpm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.save-button {
  display: inline-block;
  margin: auto;
}


.toolbar-bottom {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

.preset-div {
  display: inline-block;
  margin: auto;
}

.userseq-div {
  display: inline-block;
  margin: auto;
}

.kit-div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.pad {
  align-items: center;
  background-color: #012025;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 10px;
  width: 50%;
}